server:
  port: 7777
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mini_bank
    username: kodilla_user
    password: kodilla_password
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: false
      database: mysql
info:
  app:
    name: "Accounts"
    version: "0.0.1"
    profile: ${spring.profiles.active}
  serverInfo:
    port: ${server.port}